# MongoDB
MONGO_DB_USER=admin_dev
MONGO_DB_PASSWORD=admin_dev123

# Product Database
POSTGRES_PRODUCT_DB=product_db_dev
POSTGRES_PRODUCT_USER=product_user_dev
POSTGRES_PRODUCT_PASSWORD=product_pass_dev
POSTGRES_PRODUCT_DATA=/data/postgres/product_dev

# Payment Database
POSTGRES_PAYMENT_DB=payment_db_dev
POSTGRES_PAYMENT_USER=payment_user_dev
POSTGRES_PAYMENT_PASSWORD=payment_pass_dev
POSTGRES_PAYMENT_DATA=/data/postgres/payment_dev

# Inventory Database
POSTGRES_INVENTORY_DB=inventory_db_dev
POSTGRES_INVENTORY_USER=inventory_user_dev
POSTGRES_INVENTORY_PASSWORD=inventory_pass_dev
POSTGRES_INVENTORY_DATA=/data/postgres/inventory_dev

# Kafka Configuration
KAFKA_LISTENERS_HOST=INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS_HOSTS=INTERNAL://kafka:29092,EXTERNAL://localhost:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
KAFKA_ZOOKEEPER_SESSION_TIMEOUT=6000
